.navbar-custom {
  background-color: rgb(222, 209, 167);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

a span {
  color: rgb(176, 129, 11);
}

.rounded-circle
{
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  object-fit: cover;
}
