<!-- Footer Start -->
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <script>document.write(new Date().getFullYear())</script> GoldSeller <b>Company</b>
      </div>
      <div class="col-12 text-center mt-2">

        <div style="display: inline-flex; align-items: center;">

          <a href="https://www.instagram.com/roua_trabilssi_/" target="_blank"
            style="margin-right: 20px; display: inline-flex; align-items: center;">
            <img src="assets/images/instagram.jpg" alt="Instagram"
              style="width: 24px; height: 24px; margin-right: 5px;">
            <span>Instagram Account</span>
          </a>


          <a href="tel:+123456789" style="display: inline-flex; align-items: center;">
            <img src="assets/images/contact.png" alt="Téléphone" style="width: 24px; height: 24px; margin-right: 5px;">
            <span>Contact Us</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end Footer -->
