<!DOCTYPE html>
<html lang="en">




<head>
  <meta charset="utf-8" />
  <title>Modify Administrator</title>


</head>

<body>
  <!-- Begin page -->
  <div class="wrapper">


    <app-header></app-header>


    <app-menu></app-menu>



    <div class="content-page">
      <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

          <!-- start page title -->
          <div class="row">
            <div class="col-12">
              <div class="page-title-box">

                <h4 class="page-title">Modify Administrator :</h4>
              </div>
            </div>
          </div>
          <!-- end page title -->

          <div class="row">

            <div class="col-lg-6">
              <div class="card">
                <div class="card-header">


                </div>
                <div class="card-body">
                  <form (ngSubmit)="updateAdmin()" [formGroup]="updateForm">
                    <div class="position-relative mb-3">
                      <label class="form-label" for="validationTooltip01">First name</label>
                      <input type="text" class="form-control" id="validationTooltip01" placeholder="name"
                        value="first name" required formControlName="name">
                      <div class="valid-tooltip">
                        Looks good!
                      </div>
                      <div class="invalid-tooltip">
                        Please enter first name.
                      </div>
                    </div>
                    <div class="position-relative mb-3">
                      <label class="form-label" for="validationTooltip02">Last name</label>
                      <input type="text" class="form-control" id="validationTooltip02" placeholder="LastName"
                        value="last name" required formControlName="lastName">
                      <div class="valid-tooltip">
                        Looks good!
                      </div>
                      <div class="invalid-tooltip">
                        Please enter last name.
                      </div>
                    </div>
                    <div class="position-relative mb-3">
                      <label class="form-label" for="validationTooltipUsername">Email</label>
                      <div class="input-group">
                        <span class="input-group-text" id="validationTooltipUsernamePrepend">email</span>
                        <input type="text" class="form-control" id="validationTooltipUsername" placeholder="email"
                          formControlName="email" aria-describedby="validationTooltipUsernamePrepend" required>
                        <div class="invalid-tooltip">
                          Please choose a unique and valid email.
                        </div>
                      </div>
                    </div>
                    <div class="position-relative mb-3">
                      <label class="form-label" for="validationTooltip03">Password</label>
                      <input type="password" class="form-control" id="validationTooltip03" placeholder="Password"
                        required formControlName="password">

                    </div>
                    <div class="position-relative mb-3">
                      <select class="form-select" formControlName="role">
                        <option selected>Role</option>
                        <option value="SuperAdmin">SuperAdmin</option>
                        <option value="Admin">Admin</option>

                      </select>
                    </div>

                    <button class="btn btn-primary" type="submit">Submit form</button>
                  </form>
                </div> <!-- end card-body-->
              </div> <!-- end card-->
            </div> <!-- end col-->
          </div>
          <!-- end row -->

        </div> <!-- container -->

      </div> <!-- content -->

     <app-footer></app-footer>

    </div>

  </div>
  <!-- END wrapper -->


</body>

</html>
