<div class="leftside-menu">




  <div class="h-100" id="leftside-menu-container" data-simplebar>
      <!--- Sidemenu -->
      <ul class="side-nav">

          <li class="side-nav-title">Main</li>

          <li class="side-nav-item">
              <a href="index.html" class="side-nav-link">
                  <i class="ri-dashboard-3-line"></i>
                  <span class="badge bg-success float-end">9+</span>
                  <span> Dashboard </span>
              </a>
          </li>

          <li class="side-nav-item">
              <a data-bs-toggle="collapse" href="#sidebarPages" aria-expanded="false" aria-controls="sidebarPages" class="side-nav-link">
                  <i class="ri-pages-line"></i>
                  <span> Administrator </span>
                  <span class="menu-arrow"></span>
              </a>

          </li>

          <li class="side-nav-item">
              <a data-bs-toggle="collapse" href="#sidebarPagesAuth" aria-expanded="false" aria-controls="sidebarPagesAuth" class="side-nav-link">
                  <i class="ri-group-2-line"></i>
                  <span> Client</span>
                  <span class="menu-arrow"></span>
              </a>

          </li>

          <li class="side-nav-item">
              <a data-bs-toggle="collapse" href="#sidebarLayouts" aria-expanded="false" aria-controls="sidebarLayouts" class="side-nav-link">
                  <i class="ri-layout-line"></i>
                  <span class="badge bg-warning float-end">New</span>
                  <span> Products</span>
              </a>

          </li>



          <li class="side-nav-item">
              <a data-bs-toggle="collapse" href="#sidebarBaseUI" aria-expanded="false" aria-controls="sidebarBaseUI" class="side-nav-link">
                  <i class="ri-briefcase-line"></i>
                  <span>Contact</span>
                  <span class="menu-arrow"></span>
              </a>

          </li>









      </ul>
      <!--- End Sidemenu -->

      <div class="clearfix"></div>
  </div>
</div>
