<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>List OF Administrators </title>
</head>

<body>
  <!-- Begin page -->
  <div class="wrapper">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="content-page">
      <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

          <!-- start page title -->
          <div class="row">
            <div class="col-12">
              <div class="page-title-box">

                <h4 class="page-title">list of Administrators </h4>
              </div>
            </div>
          </div>
          <!-- end page title -->

          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="responsive-table-plugin">
                    <div class="table-rep-plugin">
                      <div class="table-responsive" data-pattern="priority-columns">
                        <table id="tech-companies-1" class="table table-striped">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th data-priority="1">first Name</th>
                              <th data-priority="3">last Name</th>
                              <th data-priority="1">email</th>
                              <th data-priority="3">Role</th>
                              <th data-priority="3">Action</th>

                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let admin of listAdmin">
                              <th><span class="co-name">{{admin.id}}</span></th>
                              <td>{{admin.name}}</td>
                              <td>{{admin.lastName}}</td>
                              <td>{{admin.email}}</td>
                              <td>{{admin.role}}</td>
                              <td><a href="/updateAdmin/{{admin.id}}" class="btn btn-success">update</a>
                                <button (click)="Deleteadmin(admin)" type="submit"
                                  class="btn btn-danger">Delete</button>
                              </td>

                            </tr>

                          </tbody>
                        </table>
                      </div> <!-- end .table-responsive -->

                    </div> <!-- end .table-rep-plugin-->
                  </div> <!-- end .responsive-table-plugin-->
                </div>
              </div> <!-- end card -->
            </div> <!-- end col -->
          </div>
          <!-- end row -->

        </div> <!-- container -->

      </div> <!-- content -->



    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

  </div>




<app-footer></app-footer>

</body>



</html>
